
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,900&display=swap');



/*  root raviable */
:root{
    --color-primary:#0a20ed;
    --color-danger:#ec7373;
    --color-success:#73ecb7;
    --color-warnning:#ecea73;
    --color-white:#ffffff;
    --color-info-dark:hsl(233, 6%, 69%);
    --color-info-light:#ffffff;
    --color-dark:hsl(144, 3%, 30%);
    --color-light:#515363;
    --color-primary-variant:#7380ec;
    --color-dark-variant:hwb(0 57% 43%);
    --color-background:hwb(0 100% 0%);


    --card-border-raduis-1:2rem;
    --border-raduis-1:0.4rem;
    --border-raduis-2:0.8rem;
    --border-raduis-3:1.2rem;

    --card-padding:1.8rem;
    --padding-1:1.2rem;
    --box-shadow:0 2rem 3rem var(--color-light);
}
*{
margin: 0;
padding: 0;
outline: 0;
appearance: none;
border: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}
html{
    font-size:14px;
}
body{
    width:100vh;
    height:100vh;
    font-family: poppins , sans-serif;
    font-size: 0.88rem;
    overflow-x: hidden; 
}
.container{
    margin:0 auto;
    display: grid;
    width: 96%;
    grid-template-columns: 14rem auto 23rem;
    gap:1.8rem;
   
}
a{
    color: var(--color-dark);
}
img{
    display: block;
    width: 100%;
}
h1{
font-weight:800;
font-size:1.8rem;
}
h2{
    font-size:1.4rem;  
}
h3{
    font-size:0.87rem;  
}
h4{
    font-size:0.8rem;  
}
h2{
    font-size:0.77rem;  
}
small{
    font-size: 0.75rem;
}
.profle-picture{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.text-muted{
    columns: var(--color-info-dark);
}
p{
color: var(--color-dark-variant);
}
b{
    color: var(--color-dark);
}
.primary{
    color: var(--color-primary);
}
.danger{
    color: var(--color-danger);
}
.succes{
    color: var(--color-success);
}
.warnning{
    color: var(--color-warnning);
}
aside{
 height: 100vh; 
background: grey;
}
aside .top{
   background: white;
  
   align-items: center;
   justify-content: space-between;
   margin-top: 1.4 rem;
}
aside .logo img{
    width: 2rem;
    height: 2rem;
}
